name: pre-commit

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: pre-commit checks
        run: |
          pip install uv
          uv run pre-commit autoupdate
          uv run pre-commit run --all-files
